section{
    width: 80%;
    margin: 5% auto;
}
mat-form-field {
    width: 100%;
    margin-bottom: 4%;
}
.display-align{
    display: flex;
    align-items: center;
}
img{
    margin-right: 10px;
}
h3 {
    display: flex;
    justify-content: center;
}