<section>
        <h3>Searchable List With Accordian</h3>
    <mat-form-field>
        <input type="text" matInput placeholder="Search Here" [(ngModel)]="searchText">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <ng-template [ngIf]="dataListVO">
    <div *ngFor="let data of dataListVO.data | filter:searchText">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{data.email}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="display-align">
                    <img src="{{data.avatar}}"  />
                    <div>{{data.first_name}} {{data.last_name}} ({{data.id}}) </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</ng-template>
</section>